<div class="alert alert-primary">
    <h3>HOME PAGE</h3>
 
    <!-- single way binding : HTML => TS -->
    <button class="btn btn-primary" (click)="methodClic()">
        Cliquez pour tester le single way binding...
    </button>

    
    <!-- EXO : 
     si le codeCours est égal à NG = 'VOus avez choisi Formation Angular'
     Sinon.... REACT = ... 'React'
     Sinon .... VUE = 'Vue'
     Autre = 'Choisir une formation' -->

     <!-- à faire avec soit *ngIf/SwitchCase
      ou alors le control flow avec @if() -->
      <p></p>
 
      <div class="alert alert-warning">
   
          @if (codeCours==="NG") {
          <span>Vous avez choisi Angular</span>
          }
          @else if (codeCours==="REACT") {
          <span>Vous avez choisi React</span>
          }
          @else if (codeCours==="VUE") {
          <span>Vous avez choisi Vue</span>
          }
          @else {
          <span>Choisissez une formation</span>
          }
   
      </div>
      
<p>autre solution de code avec switchCase</p>

<div [ngSwitch]="codeCours">
    <div *ngSwitchCase="'NG'">Angular</div>
    <div *ngSwitchCase="'react'">React</div>
    <div *ngSwitchCase="'Vue'">Vue</div>
    <div *ngSwitchDefault="">Choisir une formation</div>
</div>

<!-- Double way Binding
 HTML ==> TS ==> HTML -->

 <!-- [] : directives Single Way Binding (TS => HTML )-->
<!--  ngModel appartient aux forms Angular -->
<p>Double way binding ici: </p>  
<select class="form-control" [(ngModel)]="codeCours">
    <!-- double way binding a un nom : Banana in a box [()] -->
    <option value="">Choisir pour tester le double way binding</option>
   
    <option value="NG">Angular ...</option>
    <option value="REACT">React ...</option>
    <option value="VUE">Vue ...</option>
</select>
</div>
