<h2 class="alert alert-primary">Liste des Plongées</h2>
 
<div class="row">
 
    <div class="col-md-3" *ngFor="let dive of dives">
        <div class="card">       
            
            <div class="card-body">

                <h5 class="card-title">Nom : {{dive.name}}</h5>

                <!-- Composant enfant -->
                <div class="alert alert-warning">

                    <h5>Composant Enfant 1</h5>

                    <app-dives-list-child1
                    [inputDive]="dive"
                    [infos]="InfosTexte"
                    ></app-dives-list-child1>
                </div>

                <!-- template reference angular : #btnPlus -->
                <button 
                class="btn btn-primary" 
                #btnPlus
                routerLink="/liste-des-plongées/details/{{dive.id}}"
                [queryParams]="dive"
                [skipLocationChange]="true"
                >
                En Savoir Plus
            </button>
            </div>
        </div>
    </div>
   
 
 
 
</div>